:root {
  --ff-primary: 'Roboto', serif;
  --ff-secondary: 'Monoton', serif;
  
  --fw-reg: 400;
  --fw-bold: 700;
  
  --clr-light: #f1f3f4;
  --clr-other: #79bac1;
  --clr-dark: #2a7886;
  --clr-accent: #512b58;
}

body {
  text-align: center;
  font-family: var(--ff-primary);
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

/* Button Styles */
.btn {
  display: inline-block;
  background: var(--clr-other);
  color: var(--clr-light);
  cursor: pointer;
  font-size: .8rem;
  font-weight: var(--fw-bold);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: relative;
  margin: .25em;
}

.btn:active {
  background: var(--clr-accent);
}