@import url('https://fonts.googleapis.com/css?family=Orbitron|Paytone+One|Roboto&display=swap');

:root {
  --ff-primary: 'Paytone One', sans-serif;
  --ff-keys: 'Roboto', sans-serif;
  --ff-display: 'Orbitron', sans-serif;
  
  --fw-reg: 400;
  --fw-bold: 700;
  
  --clr-numKey: #52584F;
  --clr-opKey: #FFFFF2;
  --clr-otherKey: #E98B40;
  --clr-light: #C5C6B5;
  --clr-display: #AC6436;
  --clr-dark: #141518;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  text-align: center;
  font-family: var(--ff-primary);
  color: var(--clr-light);
  background-color: var(--clr-opKey);
  margin-top: 10vh;
}

h1 {
  color: var(--clr-dark);
  text-align: left;
  margin-left: .6em;
  padding: .75em 0 0;
  font-size: 1.5em;
}

.calculator {
  background-color: var(--clr-light);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 520px;
}

#display {
  background-color: var(--clr-dark);
  color: var(--clr-display);
  font-family: var(--ff-display);
  text-align: right;
  padding: .65em 1em .65em 0;
  margin: 0 .8em .5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  padding: 0 10px;
}

#clear {
  grid-column: 1 / span 3;
}

#subtract {
  grid-column: 4;
  grid-row: 1;
}

#divide {
  grid-column: 4;
  grid-row: 2;
}

#multiply {
  grid-column: 4;
  grid-row: 3;
}

#add {
  grid-column: 4;
  grid-row: 4;
}

/* Button Styles */
.btn {
  display: inline-block;
  background: var(--clr-numKey);
  color: var(--clr-opKey);
  cursor: pointer;
  font-size: .8rem;
  font-weight: var(--fw-bold);
  height: 65px;
  width: 65px;
  border: none;
  border-radius: 20px;
  position: relative;
  margin: .25em;
}

.btn-clear {
  width: 205px;
  background-color: var(--clr-otherKey);
}

.btn-equals {
  width: 135px;
  background-color: var(--clr-opKey);
  color: var(--clr-dark);
}

.btn-ops {
  background-color: var(--clr-opKey);
  color: var(--clr-dark);
}

button:hover {
  opacity: 0.95;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}